<ion-buttons slot="start">
  <ion-fab-button size="small" color="grey" (click)="cerrarModal()">
    <ion-icon name="chevron-down-outline" color="dark"></ion-icon>
  </ion-fab-button>
</ion-buttons>
<ion-content>
  <ion-header [ngStyle]="{'background-image': 'url(../../assets/final/' + categoryFinal.image + ')', 'opacity': '1'}">

  </ion-header>
  <!-- Contenedor principal con esquinas redondeadas -->
  <div class="rounded-container">
    <ion-grid>
      <!-- Sección 1 -->
      <ion-row class="section" [ngStyle]="{'background-image': 'url(../../assets/final/' + categoryFinal.image + ')', 'background-size': 'cover', 'background-position': 'center', 'opacity': '1'}">
        <ion-col>
          
        </ion-col>
      </ion-row>
      
      <!-- Sección 2 hasta Sección 5... -->
      <ion-row class="section">
        <ion-col>
          <h1>{{categoryFinal.name}}</h1>
          <ion-col size="6">
            <ion-item lines="none" color="black"> 

              <ion-button fill="clear" href="https://www.instagram.com" target="_blank" slot="start">
                <ion-img src="assets/IconosMovi/waze.png" color="primary" class="icono-app"></ion-img>
              </ion-button>

              <ion-button fill="clear" href="https://www.instagram.com" target="_blank" slot="start">
                <ion-img src="assets/IconosMovi/googleMap.png" color="primary" class="icono-app"></ion-img>
              </ion-button>

            </ion-item>
          </ion-col>
        </ion-col>
      </ion-row>
      <ion-row class="section">
        <ion-col>
          <p>{{categoryFinal.desc}}</p>
          <ion-col size="1">
            <ion-item lines="none" color="black"> 
              <ion-button fill="clear" href="https://www.instagram.com" target="_blank" slot="start">
                <ion-img src="assets/IconosMovi/x.png" color="primary" class="icono-app"></ion-img>
              </ion-button>
              <ion-button fill="clear" href="https://www.twitter.com" target="_blank" slot="start">
                <ion-img src="assets/IconosMovi/wsp.png" color="primary" class="icono-app"></ion-img>
              </ion-button>
              <ion-button fill="clear" href="https://www.linkedin.com" target="_blank" slot="start">
                <ion-img src="assets/IconosMovi/ing.png" color="primary" class="icono-app"></ion-img>
              </ion-button>
              <ion-button fill="clear" href="https://www.facebook.com" target="_blank" slot="start">
                <ion-img src="assets/IconosMovi/facebook.png" color="primary" class="icono-app"></ion-img>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-col>
      </ion-row>
      <ion-row class="section">
        <ion-col>
          <p>N° Local: {{categoryFinal.numLocal}}</p>
          <p>Horario: {{categoryFinal.horario}}</p>
          <p>Rango $: {{categoryFinal.rangoPrecio}}</p>
          <p>Web: {{categoryFinal.web}}</p>
        </ion-col>
      </ion-row>
      <ion-row class="section">
        <ion-col>
          <p>{{categoryFinal.footer}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>