<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-fab-button size="small" color="white" (click)="goBack()">
        <ion-icon name="chevron-back-outline" color="dark"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <!-- Ajusta los tamaños de las columnas para diferentes puntos de ruptura -->
    <ion-col size-lg="4" size-md="6" size-xs="12" *ngFor="let subcategory of subcategories">
      <ion-card [routerLink]="['/activity', idCategory, subcategory.id_subcategory]" class="w-40 h-40">
        <img src="../../assets/mun2/{{subcategory.icon_subcategory}}">
        <div class="card-title">{{subcategory.subcategory}}</div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
